:root {
  --mainBlue: #2a2a72;
  --lightBlue: #009ffd;
  --mainWhite: #f3f3f3;
  --mainDark: #232528;
  --mainYellow: #ffa400;
  --mainRed: #ff0000;
  --mainGrey: #808080;
  --babyBlue: #c6e2ff;
  --navy: #003366;
}

body {
  font-family: 'Oswald', sans-serif !important;
  /* bootstrap will override this font unless we include !important tag */
  background: var(--mainWhite) !important;
  color: var(--mainDark) !important;
}

.text-title {
  font-family: 'Anton', sans-serif !important;
  letter-spacing: 0.3em;
  text-transform: uppercase;
}

.text-blue {
  color: var(--navy);
}

.text-red {
  color: var(--mainRed);
}

.text-grey {
  color: var(--mainGrey);
}

.text-bright {
  color: var(--mainBlue);
}
.btn-black {
  background: transparent;
  text-transform: capitalize;
  font-size: 0.8rem !important;
  color: var(--mainDark);
  border-radius: 0 !important;
  border: 0.1rem solid var(--mainDark) !important;
}
.btn-black:hover {
  background: var(--mainDark) !important;
  color: var(--mainWhite) !important;
}

.cart-icon {
  cursor: pointer;
  font-size: 1.2rem;
  color: var(--mainYellow);
}
